<html>

<body>
    <h1>
        menus
    </h1>
    <a href = "{{url_for('createMenu', restaurant_id = restaurant_id) }}">Create New Menu</a>
    <div >
        {% for menu in menus %}
        <script>
         print(menu)
        </script>
        
        <div>
        
        <a href = "{{url_for('showMenu', restaurant_id = restaurant_id, menu_id = menu.id)}}"> <h3>{{menu.name}}</h3></a>
        <div>
            <p>{{menu.description}}</p>
        </div>
        
        <p><a href = "{{url_for('editMenu',restaurant_id = restaurant_id , menu_id = menu.id)}}">Edit Menu</a></p>
        
        <p> <a href = "{{url_for('deleteMenu',restaurant_id = restaurant_id , menu_id = menu.id)}}">Delete Menu</a> </p>
        
        </div>
        
        
        {% endfor %}
    </div>
</body>
</html>