
.udacity-image {
    width: 100%;
}
.div-image-logo{
    width: 40%;
}
.header-text {
    width: 70%;
    margin-top: 20px;
}

.header-text-name{
    margin: 0;
    font-size: .7em;
    float: right;
}

.header-text-job{
    margin: 0;
    float: right;
    font-size: .5em;
}

.simple-text{
    font-size: 1em !important;
}

.links{
    font-size: 1em;
}